    body, html {
                height: 100%;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
    }

    * {
                box-sizing: border-box;
    }

    .bg-image {
                /* The image used */
                background-image: url("https://images.unsplash.com/photo-1537204319452-fdbd29e2ccc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");

                /* Full height */
                height: 100%; 

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
    }

    /* Position text in the middle of the page/image */
    .bg-text {
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
                color: white;
                font-weight: bold;
                border: 3px solid #f1f1f1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                width: 80%;
                padding: 20px;
                text-align: center;
    }

    /* For Back Button */
    #backimage{
                position: absolute;
                top: 0px;
                width: 50px;
                height: 50px;
                float: left;
                margin: 0px;
            }

    #backimage:hover{
                cursor: pointer;
            }
